.navbar-brand {
    font-family: 'Permanent Marker', cursive;
}

.containerCard {
    box-shadow: 0px 13px 20px -2px rgba(0,0,0,0.24);
    -webkit-box-shadow: 0px 13px 20px -2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 13px 20px -2px rgba(0,0,0,0.24);
    transition: 1s;
}

.containerCard:hover {
    transform: scale(1.16);
    z-index: 10000;
}

.tipoGrass, .tipoDarkness, .tipoDragon, .tipoFairy, .tipoFighting, .tipoFire, .tipoLightning, .tipoMetal, .tipoPsychic, .tipoWater, .tipoColorless {
    padding: 3px 7px;
    color: cornsilk;
    width: 6em;
    height: fit-content;
    border-radius: 5px;
    text-align: center;
}

.tipoGrass {
    background-color: #21ae3b;
}

.tipoDarkness {
    background-color:#054782;
}

.tipoDragon {
    background-color: #cdc352;
}

.tipoColorless {
    background-color: #f4f4e4;
    color: black;
}

.tipoFairy {
background-color: #e65495;
}

.tipoFighting {
background-color: #be2102;
}

.tipoFire {
background-color: #e95000;
}

.tipoLightning {
background-color: #f1cd15;
}

.tipoMetal {
background-color: #bebfb8;
}

.tipoPsychic {
background-color: #7639b8;
}

.tipoWater {
background-color: #32b5f1;
}

.divSetCarta, .rarezaNumero {
    display: flex;
    justify-content: flex-start;
    gap: 0.5em;

}

.divTipos {
    display: flex;
    gap: .5em;
    margin-bottom: .5em;
}





























Colorless",
    "Darkness",
    "Dragon",
    "Fairy",
    "Fighting",
    "Fire",
    "Grass",
    "Lightning",
    "Metal",
    "Psychic",
    "Water"