body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2590%26quot%3b)' fill='none'%3e%3cuse xlink:href='%23SvgjsSymbol2597' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol2597' x='720' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2590'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath2593'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath2592'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath2594'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath2596'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath2595'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath2591'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol2597'%3e%3cuse xlink:href='%23SvgjsPath2591' x='30' y='30' stroke='rgba(33%2c 37%2c 41%2c 0.1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='30' y='90' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='30' y='150' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2593' x='30' y='210' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='30' y='270' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='30' y='330' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='30' y='390' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='30' y='450' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='30' y='510' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='30' y='570' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='90' y='30' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2593' x='90' y='90' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='90' y='150' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='90' y='210' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2593' x='90' y='270' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='90' y='330' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='90' y='390' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='90' y='450' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='90' y='510' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='90' y='570' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='150' y='30' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='150' y='90' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='150' y='150' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='150' y='210' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='150' y='270' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='150' y='330' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='150' y='390' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='150' y='450' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='150' y='510' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='150' y='570' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='210' y='30' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='210' y='90' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='210' y='150' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='210' y='210' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='210' y='270' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2593' x='210' y='330' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='210' y='390' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='210' y='450' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='210' y='510' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='210' y='570' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='270' y='30' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='270' y='90' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='270' y='150' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='270' y='210' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='270' y='270' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='270' y='330' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2591' x='270' y='390' stroke='rgba(208%2c 61%2c 67%2c 0.1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='270' y='450' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='270' y='510' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2593' x='270' y='570' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='330' y='30' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='330' y='90' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='330' y='150' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='330' y='210' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='330' y='270' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='330' y='330' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='330' y='390' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='330' y='450' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='330' y='510' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='330' y='570' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2591' x='390' y='30' stroke='rgba(33%2c 37%2c 41%2c 0.1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='390' y='90' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='390' y='150' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='390' y='210' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='390' y='270' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2593' x='390' y='330' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='390' y='390' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='390' y='450' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='390' y='510' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='390' y='570' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='450' y='30' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2593' x='450' y='90' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='450' y='150' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='450' y='210' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2591' x='450' y='270' stroke='rgba(208%2c 61%2c 67%2c 0.1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2591' x='450' y='330' stroke='rgba(208%2c 61%2c 67%2c 0.1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='450' y='390' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2593' x='450' y='450' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='450' y='510' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='450' y='570' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='510' y='30' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='510' y='90' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='510' y='150' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='510' y='210' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2593' x='510' y='270' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='510' y='330' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='510' y='390' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='510' y='450' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2593' x='510' y='510' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='510' y='570' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2591' x='570' y='30' stroke='rgba(208%2c 61%2c 67%2c 0.1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2591' x='570' y='90' stroke='rgba(33%2c 37%2c 41%2c 0.1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='570' y='150' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='570' y='210' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='570' y='270' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='570' y='330' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='570' y='390' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='570' y='450' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='570' y='510' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='570' y='570' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='630' y='30' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='630' y='90' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='630' y='150' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2591' x='630' y='210' stroke='rgba(208%2c 61%2c 67%2c 0.1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='630' y='270' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2591' x='630' y='330' stroke='rgba(33%2c 37%2c 41%2c 0.1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='630' y='390' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2591' x='630' y='450' stroke='rgba(208%2c 61%2c 67%2c 0.1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='630' y='510' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='630' y='570' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2593' x='690' y='30' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='690' y='90' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='690' y='150' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='690' y='210' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='690' y='270' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='690' y='330' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='690' y='390' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='690' y='450' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='690' y='510' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='690' y='570' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
}

.navbar-brand {
    font-family: 'Permanent Marker', cursive;
}

.containerCard {
    box-shadow: 0px 13px 20px -2px rgba(0,0,0,0.24);
    -webkit-box-shadow: 0px 13px 20px -2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 13px 20px -2px rgba(0,0,0,0.24);
    transition: 1s;
}

.containerCard:hover {
    transform: scale(1.05);
    z-index: 10000;
}

.card-body {
    min-height: 285px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tipoGrass, .tipoDarkness, .tipoDragon, .tipoFairy, .tipoFighting, .tipoFire, .tipoLightning, .tipoMetal, .tipoPsychic, .tipoWater, .tipoColorless {
    padding: 3px 7px;
    color: cornsilk;
    width: 6em;
    height: fit-content;
    border-radius: 5px;
    text-align: center;
}

.tipoGrass {
    background-color: #21ae3b;
}

.tipoDarkness {
    background-color:#054782;
}

.tipoDragon {
    background-color: #cdc352;
}

.tipoColorless {
    background-color: #f4f4e4;
    color: black;
}

.tipoFairy {
background-color: #e65495;
}

.tipoFighting {
background-color: #be2102;
}

.tipoFire {
background-color: #e95000;
}

.tipoLightning {
background-color: #f1cd15;
}

.tipoMetal {
background-color: #bebfb8;
}

.tipoPsychic {
background-color: #7639b8;
}

.tipoWater {
background-color: #32b5f1;
}

.divSetCarta, .rarezaNumero {
    display: flex;
    justify-content: flex-start;
    gap: 0.5em;

}

.divTipos {
    display: flex;
    gap: .5em;
    margin-bottom: .5em;
}

.divPrecio {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.divMiniPrecio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    gap: .5em;
}

.divMiniComprar h5, input {
    margin: 0%;
}

.divMiniComprar h5 {
    text-align: center;
    margin: .1em;
    font-size: 1.5em;
    width: 1.5em;
}

.divMiniComprar input {
    width: 2em;
    text-align: center;
    border-radius: 5px;
    border-style: none;
    font-weight: 500;
}


.btnComprar {
    width: 100%;
    
}

.sinResultados {
    display: none;
}

.sinResultados-activo {
    display: block;
}

.cerrarSesion {
    display: none;
}

.cerrarSesion-activo {
    display: block;
}

.iniciarSesion {
    display: none;
}

.divCarrito {
    margin-top: 3em;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.divCarrito p {
    margin: 0%;
    font-weight: 500;
}

.divSetCartaCarrito {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.divCantidadPrecio {
    display: flex;
    width: 10%;
    justify-content: space-around;
}

.imgCarrito {
    max-width: 6em;
}

.idCarta, .idCarrito {
    display: none;
}

.cantidadCarrito {
    background-color: transparent;
    border: none;
    text-align: center;
    width: 3em;

}

.btnBorrar {
    background-color: #D03D43;
}

.btnBorrar:hover, .btnBorrar:focus {
    transition: 1s;
    filter: contrast(1.5);
    background-color: #D03D43;
}

.btn-finalizar-compra {
    background-color: midnightblue;
    width: fit-content;
}

.btn-finalizar-compra:hover, .btn-finalizar-compra:focus {
    background-color: midnightblue;
    transition: 1s;
    filter: brightness(1.5);
}

.mensajeAgregadoCarrito {
    color: green;
    text-align: center;
    display: none;
    transition: 1s;
}

.mensajeAgregadoCarrito-activo {
    transition: 1s ease all;
    animation: mensajeAlCarrito 2s ease-in-out;
    display: block;
    
}

@keyframes mensajeAlCarrito {

    0% {
        opacity: 0;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
    
}




footer {
    background-color: #212529;
    width: 100%;
    height: 6em;
    display: flex;
    justify-content: space-evenly;
    padding: 1.5em 0;
    
}

.redes, .info {
    color: #6c8a9e;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

footer a {
    text-decoration: none;
    color: inherit;
}



@media screen and (max-width: 768px) {

    .containerCard:hover {
        transform: scale(1);
        z-index: 10000;
    }
    
}

@media (min-width: 375px) and (max-width: 767px) {

    .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
    }

    .divSetCarta {
        flex-wrap: wrap;
    }

}

















