.navbar-brand {
    font-family: 'Permanent Marker', cursive;
}

.containerCard {
    box-shadow: 0px 13px 20px -2px rgba(0,0,0,0.24);
    -webkit-box-shadow: 0px 13px 20px -2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 13px 20px -2px rgba(0,0,0,0.24);
    transition: 1s;
}

.containerCard:hover {
    transform: scale(1.16);
    z-index: 10000;
}

.tipo-grass, .tipo-darkness, .tipo-dragon, .tipo-fairy, .tipo-fighting, .tipo-fire, .tipo-lightning, .tipo-metal, .tipo-psychic, .tipo-water, .tipo-colorless {
    padding: 5px 10px;
    color: cornsilk;
    width: fit-content;
    border-radius: 10px;
}

.tipo-grass {
    background-color: #21ae3b;
}

.tipo-darkness {
    background-color:#054782;
}

.tipo-dragon {
    background-color: #cdc352;
}

.tipo-colorless {
    background-color: #f4f4e4;
}

.tipo-fairy {
background-color: #e65495;
}

.tipo-fighting {
background-color: #be2102;
}

.tipo-fire {
background-color: #e95000;
}

.tipo-lightning {
background-color: #f1cd15;
}

.tipo-metal {
background-color: #bebfb8;
}

.tipo-psychic {
background-color: #7639b8;
}

.tipo-water {
background-color: #32b5f1;
}





























Colorless",
    "Darkness",
    "Dragon",
    "Fairy",
    "Fighting",
    "Fire",
    "Grass",
    "Lightning",
    "Metal",
    "Psychic",
    "Water"