* {
    box-sizing: border-box;
}

:root {
    --dark: #212529;
    --gris: #9b9d9e;
    --orangeRed: #D03D43;
    --darkOrangeRed: #AA1328;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2590%26quot%3b)' fill='none'%3e%3cuse xlink:href='%23SvgjsSymbol2597' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol2597' x='720' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2590'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath2593'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath2592'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath2594'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath2596'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath2595'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath2591'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol2597'%3e%3cuse xlink:href='%23SvgjsPath2591' x='30' y='30' stroke='rgba(33%2c 37%2c 41%2c 0.1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='30' y='90' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='30' y='150' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2593' x='30' y='210' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='30' y='270' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='30' y='330' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='30' y='390' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='30' y='450' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='30' y='510' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='30' y='570' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='90' y='30' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2593' x='90' y='90' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='90' y='150' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='90' y='210' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2593' x='90' y='270' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='90' y='330' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='90' y='390' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='90' y='450' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='90' y='510' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='90' y='570' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='150' y='30' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='150' y='90' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='150' y='150' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='150' y='210' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='150' y='270' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='150' y='330' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='150' y='390' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='150' y='450' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='150' y='510' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='150' y='570' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='210' y='30' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='210' y='90' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='210' y='150' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='210' y='210' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='210' y='270' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2593' x='210' y='330' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='210' y='390' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='210' y='450' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='210' y='510' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='210' y='570' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='270' y='30' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='270' y='90' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='270' y='150' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='270' y='210' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='270' y='270' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='270' y='330' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2591' x='270' y='390' stroke='rgba(208%2c 61%2c 67%2c 0.1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='270' y='450' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='270' y='510' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2593' x='270' y='570' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='330' y='30' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='330' y='90' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='330' y='150' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='330' y='210' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='330' y='270' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='330' y='330' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='330' y='390' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='330' y='450' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='330' y='510' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='330' y='570' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2591' x='390' y='30' stroke='rgba(33%2c 37%2c 41%2c 0.1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='390' y='90' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='390' y='150' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='390' y='210' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='390' y='270' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2593' x='390' y='330' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='390' y='390' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='390' y='450' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='390' y='510' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='390' y='570' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='450' y='30' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2593' x='450' y='90' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='450' y='150' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='450' y='210' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2591' x='450' y='270' stroke='rgba(208%2c 61%2c 67%2c 0.1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2591' x='450' y='330' stroke='rgba(208%2c 61%2c 67%2c 0.1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='450' y='390' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2593' x='450' y='450' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='450' y='510' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='450' y='570' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='510' y='30' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='510' y='90' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='510' y='150' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='510' y='210' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2593' x='510' y='270' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='510' y='330' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='510' y='390' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='510' y='450' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2593' x='510' y='510' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='510' y='570' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2591' x='570' y='30' stroke='rgba(208%2c 61%2c 67%2c 0.1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2591' x='570' y='90' stroke='rgba(33%2c 37%2c 41%2c 0.1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='570' y='150' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='570' y='210' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='570' y='270' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='570' y='330' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='570' y='390' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='570' y='450' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='570' y='510' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='570' y='570' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='630' y='30' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='630' y='90' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='630' y='150' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2591' x='630' y='210' stroke='rgba(208%2c 61%2c 67%2c 0.1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='630' y='270' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2591' x='630' y='330' stroke='rgba(33%2c 37%2c 41%2c 0.1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='630' y='390' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2591' x='630' y='450' stroke='rgba(208%2c 61%2c 67%2c 0.1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='630' y='510' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='630' y='570' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2593' x='690' y='30' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='690' y='90' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='690' y='150' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='690' y='210' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2596' x='690' y='270' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='690' y='330' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='690' y='390' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2594' x='690' y='450' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2592' x='690' y='510' stroke='rgba(208%2c 61%2c 67%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2595' x='690' y='570' stroke='rgba(33%2c 37%2c 41%2c 0.1)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
}



main {
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
    background: var(--dark);
    border-radius: 5px;
}

label {
    color: var(--gris);
}

.formulario-grupo p {
    color: var(--orangeRed);
}

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.registrarse {
    text-align: center;
    color: var(--gris);
}

.formulario-label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario-grupo-input {
    position: relative;

}

.formulario-input {
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;

}

.formulario-input:focus {
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario-input-error {
    font-size: 14px;
    margin-bottom: 0;
    display: none;
    
}

.formulario-input-error-activo {
    display: block;
    
}

.formulario-validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario-mensaje, .formulario-grupo-btn-enviar, .registrarse {
    grid-column: span 2;
}

.formulario-mensaje {
    height: 45px;
    line-height: 45px;
    background: var(--orangeRed);
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario-mensaje-activo {
    display: block;
}

.formulario-mensaje p {
    margin: 0%;
}

.formulario-grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.formulario-btn {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: var(--orangeRed);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}

.formulario-btn:hover {
    background-color: var(--darkOrangeRed);
    
}

.formulario-mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;

}

.formulario-mensaje-exito-activo {
    display: block;
}






.formulario-grupo-correcto .formulario-validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario-grupo-incorrecto .formulario-label {
    color: var(--orangeRed);

}

.formulario-grupo-incorrecto .formulario-validacion-estado {
    color: #bb2929;
    opacity: 1;

}

.formulario-grupo-incorrecto .formulario-input {
    border: 3px solid #bb2929;
}


@media screen and (max-width: 800px) {
    .formulario {
        grid-template-columns: 1fr;
    }

    .formulario-mensaje, .formulario-grupo-btn-enviar, .registrarse {
        grid-column: 1;
    }

    .formulario-btn {
        width: 100%;
    }
    
}